.about-container {
  padding: 20px;
}

.about-box {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.about-box p {
  margin: 5px 0;
}

.about-box strong {
  font-weight: bold;
}
